<h1>Nueva Venta</h1>

<div class="card sale-autocomplete">
  <p-autoComplete
      class="p-autocomplete"
      placeholder="Buscar producto por nombre"
      [formControl]="txtInput"
      [suggestions]="filteredInventory"
      [style]="{'width':'100%'}"
      [inputStyle]="{'width':'100%'}"
      (completeMethod)="search($event)"
      (onSelect)="addItemToCart($event)"
      field="name" >
      <ng-template let-inventoryItem pTemplate="item">
        <div class="flex align-items-center gap-2">
            <div>{{ inventoryItem.name }} - {{inventoryItem.price | currency : 'MXN'}}</div>
            <div>Stock: {{ inventoryItem.stock }}</div>
        </div>
    </ng-template>
    </p-autoComplete>
</div>


<div class="mat-elevation-z8" style="width: 100%;">
  <div class="table-data-container">
    <table mat-table [dataSource]="dataSource" class="data-table" [style.background-color]="tableColor">

      <ng-container [matColumnDef]="displayedColumns[0]">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Nombre</th>
        <td mat-cell *matCellDef="let product"> {{product.inventory.name}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <ng-container [matColumnDef]="displayedColumns[1]">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Cantidad</th>
        <td mat-cell *matCellDef="let product" class="quantity-in-table"> 
          <button mat-icon-button (click)="deleteItemFromCart(product.inventory)" matTooltip="Restar" >
            <mat-icon>remove</mat-icon>
          </button>
          {{product.quantity}}
          <button mat-icon-button (click)="addItemToCartButton(product.inventory)" matTooltip="Añadir" >
            <mat-icon>add</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[2]">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Precio</th>
        <td mat-cell *matCellDef="let product"> {{product.inventory.price | currency : 'MXN'}} </td>
        <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[3]">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">&nbsp;SubTotal</th>
        <td mat-cell *matCellDef="let product">
          <b>{{product.inventory.price * product.quantity | currency : 'MXN'}}</b>
        </td>
        <td mat-footer-cell *matFooterCellDef> {{cart.total | currency : 'MXN'}} </td>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[4]">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">&nbsp;</th>
        <td mat-cell *matCellDef="let product">
          <button mat-icon-button color="warn" (click)="removeItemFromCart(product.inventory)" matTooltip="Eliminar">
              <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  
      <tr *matNoDataRow>
        <td colspan="5">
          <div *ngIf="!dataTextEmpty" 
            style="margin: 1rem 0 0.5rem 2rem; font-size: 1rem;">
            No hay productos agregados al carrito actualmente.
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="sale-payment">
  <div style="width: calc(100vw - 30.5rem)">
    <input 
      type="text" 
      pInputText 
      [formControl]="customerName"
      [style]="{'width':'100%'}"
      placeholder="Nombre del cliente (Opcional)"
    />
  </div>
  <div>
    <mat-checkbox [formControl]="printReport" color="primary" matTooltip="Imprimir al finalizar la venta"></mat-checkbox>
  </div>
  <p-button 
    label="Realizar Venta"
    severity="success"
    [disabled]="cart.products.length === 0 || customerNameMaxLength === true"
    [loading]="generatingNewSale"
    (click)="payment()"
  />
</div>
@if (customerName.errors?.['maxlength']) {
  <div class="invalid-status-msg" style="margin-top: 0.5rem;">
    El nombre no puede exceder los 40 caracteres
  </div>
}