.sale-autocomplete{
    display: flex;
    margin: 2rem 0;
    width: 100%;
}

.p-autocomplete{
    width: 100%;
}

.txt-input-close-btn{
    position: absolute;
    right: 2rem;
    top: 5.7rem;
}

.sale-payment{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}