.view-sale{
    margin: 2rem;
    & > :first-child{
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        & section:not(:first-child) {
            margin: 1rem 0;
        }
    }
}